@use '../../lib/styles/palette' as *;

.top_bar {
    display: flex;
    width: 334px;
    height: 31px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    
    color: $black-color;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    .pay {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    
    .setting {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
.info {
    color: $dark-gray-color;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}