@use '../../lib/styles/palette' as *;

.fakeEl{
    height: 62px;
}
.navbar {
    display: flex;
    padding: 12px 60px;
    justify-content: space-between;
    align-items: center;
    width: 390px;

    position: fixed;
    bottom: 0;
    
    border: 1px solid $light-gray-color;
    background-color: $white-color;
    
    z-index: 2;
}