@use '../../lib/styles/palette' as *;


.navbar {
    display: flex;
    padding: 12px 60px;
    justify-content: space-between;
    align-items: center;
    width: 390px;

    position: absolute;
    bottom: 0;
    
    
    border: 1px solid $light-gray-color;
    background-color: $white-color;
    
    z-index: 2;
}