@import "../../../lib/styles/palette.scss"; 
// TODO: next.config.mjs의 perpendDate로 import 

.logo{
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    color: $black-color;
    :last-child {
        color: $main-color;
        font-size: 64px;
        font-weight: 800;
    }
}