@use 'scss-reset/reset';
@import '../lib/styles/_palette.scss';

body{
    background-color: #ffffff;
    color: $black-color;
    font-size: 16px;
}

button{
    background-color: $main-color;
    color: $black-color;

    padding: 10px;
    border-radius: 10px;

    font-size: 20px;
    font-weight: 700;
}
a{
    color: $main-color;
    text-decoration: none;
}
input{
    border: none;
    font-size: 16px;
    border-radius: 10px;
    background: $light-gray-color;
    color: $dark-gray-color;
    padding: 10px 15px;
}